
.DS_Store
ELMo_4.png
experiments/comparison/__pycache__/__init__.cpython-37.pyc
experiments/comparison/__pycache__/BiLSTMExperiment.cpython-37.pyc
experiments/comparison/__pycache__/LiciottiBiLSTMExperiment.cpython-37.pyc
experiments/comparison/__pycache__/LiciottiLSTMExperiment.cpython-37.pyc
experiments/comparison/__pycache__/LSTMExperiment.cpython-37.pyc
experiments/embedding_pre_trained/elmo/__pycache__/__init__.cpython-37.pyc
experiments/embedding_pre_trained/elmo/__pycache__/elmo_pre_train_base_experiments.cpython-37.pyc
experiments/embedding_pre_trained/elmo/__pycache__/ELMoBiLSTMExperiment.cpython-37.pyc
experiments/embedding_pre_trained/elmo/__pycache__/ELMoLSTMExperiment.cpython-37.pyc
experiments/embedding_pre_trained/word2vec/__pycache__/__init__.cpython-37.pyc
experiments/embedding_pre_trained/word2vec/__pycache__/w2v_pre_train_base_experiments.cpython-37.pyc
experiments/embedding_pre_trained/word2vec/__pycache__/Word2vecBiLSTMExperiment.cpython-37.pyc
experiments/embedding_pre_trained/word2vec/__pycache__/Word2vecLSTMExperiment.cpython-37.pyc
experiments/embedding_to_train/elmo/__pycache__/__init__.cpython-37.pyc
experiments/embedding_to_train/elmo/__pycache__/ELMoExperiment.cpython-37.pyc
experiments/embedding_to_train/word2vec/__pycache__/__init__.cpython-37.pyc
experiments/embedding_to_train/word2vec/__pycache__/Word2VecExperiment.cpython-37.pyc
results/